<% title t('.title') %>
<ul>
  <li>
    <%= link_to t('.questions'), methodology_questions_path %>
  </li>
  <li>
    <%= link_to t('.venues'), '#' %>
  </li>
  <li>
    <%= link_to t('.calculations'), '#' %>
  </li>
</ul>
