<% title t('.title') %>
<ul>
  <li>
    <%= link_to t('.questions'), methodology_questions_path %>
  </li>
  <li>
    <%#= link_to t('.venues'), methodology_venues_path %>
    <%= link_to t('.categories'), methodology_categories_path %>
  </li>
  <li>
    <%= link_to t('.calculations'), methodology_calculations_path %>
  </li>
</ul>
