<% title @page.title %>

<div class="tinymce_format">
  <%= simple_format_no_tags(@page.content, {}, {sanitize: false}) %>
</div>

<hr />

<% if @training_videos.present? %>
  <% @training_videos.each do |video| %>
    <div class="span4 what-accessibility-video">
      <h3>
        <%= video.title %>
        <% if video.description.present? %>
          <i class="icon-info-sign tooltipster" title="<%= strip_tags(video.description) %>"></i>
        <% end %>
      </h3>
      <div class="iframe_container">
        <%= simple_format_no_tags(video.video_embed, {}, {sanitize: false}) %>
      </div> 
    </div>
  <% end %>
<% end %>
