#find-evaluations{

  #search-container{
    margin-top: 20px;
    #map { 
      height: 300px; 
    }  

    #no-search-results{
      p:last-of-type{
        margin-top: 10px;
        text-align: center;
      }
    }

    .filter_box{
      input#filter_address_search, input#filter_place_search{
        width: 100%;
      }
  /*    padding: 10px 0 15px;*/
      margin: 5px 10px;
    }
    
    #search {
      .row-fluid{
        min-height: 56px;
      }
      #filter_buttons{
        margin-top: 10px;
        text-align: right;
        min-height: inherit;
      }
    }
    
    #current_selections{
      margin-bottom: 30px;
      p{
        padding-left: 10px;
      }
    }
    #search_results{
      max-height: 600px;
      overflow-y: auto;
      #selection_results{
        .place-item{
          border-bottom: 1px solid #ccc;
          padding: 10px 10px 15px;
          margin: 5px 0;
          .links{
            text-align: right;
          }
          &:last-of-type{
            border-bottom: none;
          }
          h3 a{
            display: block;
          }
          .view_more{
            margin-top: 10px;
          }
        }
      }
    }
  }
}
