#find-evaluations {
  h1 {
    font-size: 38px;
    line-height: 1.0;
    color: #3c86c9;
    font-weight: 700;
    margin: 0;
  }

  h2.results {
    font-size: 36px;
    line-height: 1.0;
    color: #555555;
    margin: 0;
  }

  #search-container {
    margin-top: 15px;

    .search-panel {
      font-size: 10px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    #map {
      height: 300px;
    }

    #no-search-results {
      p:last-of-type {
        margin-top: 10px;
        text-align: center;
      }
    }

    .filter_box {
      margin: 5px 24px 5px 0;

      input#filter_address_search, input#filter_place_search {
        width: 100%;
      }

      label {
        font-size: 15px;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
      }
    }

    #search {
      background-color: #ebebeb;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 21px;
      margin-left: -20px;
      margin-right: -20px;

      .filter_buttons {
        margin-left: 0;
        text-align: left;
        min-height: inherit;

        a.search {
          height: 37px;
          line-height: 37px;
          padding: 0 36px;
          background-color: #000;
          font-size: 15px;
          font-style: italic;

          &:hover {
            background-color: #555;
          }
        }

        a.clear_filters {
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          color: #000;
          margin-left: 36px;
          border-bottom: 2px solid;
          background-color: inherit;
          text-decoration: none;

          &:hover {
            color: #555;
          }
        }

        .search_img {
          display: inline-block;
        }
        .search_title {
        }
      }

      .select2-container {
        margin-bottom: 9px;
      }

      .select2-choice {
        height: 28px;
      }
    }

    #current_selections {
      margin-bottom: 30px;
      p {
        padding-left: 10px;
      }
    }

    #search_results {
      max-height: 600px;
      overflow-y: auto;
      border-right: 2px solid #606060;

      #selection_results {
        .place-item {
          padding: 10px 0 15px;
          margin: 5px 0;

          .links {
            text-align: right;

            a {
              display: block;
              padding: 0;
              height: 38px;
              line-height: 38px;
              font-size: 15px;
              font-style: italic;
            }

            .view_more {
              margin-top: 10px;
              margin-bottom: 3px;
              background-color: #3c86c9;

              &:hover {
                background-color: #3876b5;
              }
            }

            .add_evaluation {
              background-color: #f59334;

              &:hover {
                background-color: #e18033;
              }
            }
          }

          &.active {
            background-color: #ebebeb;
          }

          h3 a {
            display: block;
          }
        }
      }
    }
  }
}
