/*************************************/
/*** styles for place show page ***/
/*************************************/
#map { 
  height: 300px; 
}  

#place-image-grid {
  margin-top: 15px;
  h3{
    margin-bottom: 5px;
  }
  #place-image-filter{
    margin-bottom: 5px;
  }
  #place-image-grid-no-match{
    display: none;
  }
  .place-image-grid-item{
    display: inline-block;
    a{
      display: none;    
      &.active{
        display: inline-block;
      }
    }
    .caption-text{
      display: none;
    }
  }
} 

.tipsy .tipsy-inner span{
  font-size: 12px;
  display: block;
  border-bottom: dashed 1px #999;
  &:last-of-type{
    border-bottom: none;
  }
}

.fancybox-skin {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  }
.fancybox-title-outside-wrap{
  margin-top: -10px !important;
  color: #000 !important;
  background-color: #fff !important;
  padding: 2px 5px !important;
  li{
    display: inline-block;
    margin-right: 10px;
    span{
      font-weight: bold;
    }
    &:last-of-type{
      margin-right: 0;
    }
  }
}

/*************************************/
/*** styles for place form page ***/
/*************************************/
form.place{

  h2{
    margin-top: 25px;
  }
  
  ul#venues{
    width: 350px;
  }
  ul#venue_categories, ul.question_categories{
    li{
      display: inline-block;
      margin: 5px;
      border: 1px solid #555;
      a{
        display: block;
        padding: 5px;
        &:hover, &.active{
          background-color: #555;
          color: #fff;
        }
        
      }
    }
  }

  #disabilities, #certification{
      width: 350px;
      ul li{
      padding: 5px 0;
      &:nth-child(even) {background: #ddd}
      &:nth-child(odd) {background: #FFF}
    }
  }
  

  
  #btn-container{
    margin: 25px 0;
    text-align: right;
    #submit-button{
      display: inline-block;
      input{
        border: none;
      }
    }
  }

}

  a#place_map_next[aria-hidden="false"]{
    display: inline;
  }
  
  #place-form-address-search-instructions{
    margin-bottom: 20px;
  }

  #place-form-address-search {
    #address-search-container {
      p:nth-child(1), div.placeholder{
        margin-bottom: 20px;
      }
      #address-search-1-match, #address-search-multiple-match, #address-search-fail{
        margin-top: 20px;
        &[aria-hidden="false"]{
          display: block;
        }
        label, input[type="radio"]{
          display: inline;
        }
      }
    }
    #map_marker_explanation img{
      width: 12px;
    }
  }
  
  #places_nearby_container{
    #places_nearby_explanation{
      margin-bottom: 20px;
    }
    #places_nearby_matches li{
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px #ccc;
      &:last-of-type{
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }

/*************************************/
/*** styles for place evaluation page ***/
/*************************************/
.form-horizontal #venue_evalautions {
  .control-group{
    margin-bottom: 0;
  }
  .controls {
    margin-left: 0;
  }
}
#venue_evalautions{
  h2{
    margin: 20px 0;
    span{
      display: inline-block;
      float: right;
      font-size: 13px;
      font-weight: normal;
    }
  }
  h3{
    margin-top: 10px;
    border-bottom: solid 2px #555;
    .user_name{
      float: right;
      display: inline-block;
      img{
        vertical-align: middle;
      }
    }
    .evaluation_date{
      float: left;
      display: inline-block;
      vertical-align: middle;
    }
  }
  h4{
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;    
  }
  h5{
    margin-top: 10px;
    font-style: italic;
    border-bottom: solid 1px #555;
  }
  .top > div:last-of-type{
    text-align: right;
  }

  table.venue_evaluation {
    thead tr th:nth-child(1){
      width: 35%;
    }
    tr td{
      label, input[type="radio"]{
        display: inline;
      }
    }
    tr.question-with-evidence td {
      .radio .choices{
        margin-left: 0;
      }
      input.question-evidence{
        display: none;
      }
    }
  }
  .not_know_instructions {
    margin-bottom: 15px;
    font-size: 15px;
    span{
      padding: 7px;
      background-color: #EEDEA0;
      color: #000;
    }
  }

  div.question_category{
    &:focus {
      outline: none;
    }
    div.venue_evaluation {
      & > .row-fluid {
        padding: 5px 0 5px 5px;
        &:nth-child(even) {background: #ddd}
        &:nth-child(odd) {background: #FFF}
        [class*="span"]{
          min-height: 25px;
        }
      }
      legend i{
        cursor: help;
      }
      .evidence{
        text-align: center;
        .evidence-message-container{
          margin-bottom: 0;
          padding: 4px;
        }
      }
      .question-evidence{
        margin-top: 5px;
      }
      label, input[type="radio"]{
        display: inline;
      }
      input[type=radio] {
          display:none; 
          margin:10px;
      }      
      input[type=radio] + label {
          display:inline-block;
          margin:-2px;
          padding: 4px 12px;
          background-color: #e7e7e7;
          border-color: #ddd;
          cursor: pointer;
          &.yes, &.has_good, &.has{
            background-color: #a8d2b8;
          }
          &.has_bad{
            background-color: #eedea0;
          }
          &.no, &.needs{
            background-color: #e1919f;
          }
          &.not_relevant{
            background-color: #555;
            color: #fff;
          }
          &.disabled{
            cursor: default;
          }
      }
      input[type=radio]:checked + label { 
         background-image: none;
          background-color:#3287CC;
          color: #fff;
      }
    }
  }
  ul.question-results li {
    border-bottom: solid 1px #ccc;
    /*padding: 10px 0;*/
    & > div{
      vertical-align: top;
      padding: 10px;
      display: inline-block;
      width: 25%;
      &.cause_not_accessible{
        width: 40%;
        background-color: #fff;
        color: #f00;
      }
    }
    &:last-of-type{
      border-bottom: none;
    }
  }
  div.selected-answer{
    background-color: #ccc;
    color: #000;
    &.has_good, &.has, &.yes{
      background-color: #a8d2b8;
    }
    &.has_bad{
      background-color: #eedea0;
    }
    &.needs, &.no{
      background-color: #e1919f;
    }
    &.not_relevant{
      background-color: #555;
      color: #fff;
    }
  }

  ul.evaluation_summary li{
    display: inline-block;
    width: 24%;
  }
}  
.summary_result_number{
  display: inline-text;
  padding: 2px 5px;
  &.good{
    background-color: #a8d2b8;
  }
  &.middle{
    background-color: #eedea0;
  }
  &.bad{
    background-color: #e1919f;
    color: #fff;
  }
}
.summary_result_text{
  display: inline-text;
  padding: 2px 5px;
  &.not_accessible{
    background-color: #e1919f;
  }
  &.no_answer{
    background-color: #ccc;
    color: #000;
  }
  &.not_relevant{
    background-color: #555;
    color: #fff;
  }
  &.public_summary{
    text-align: center; 
    margin-bottom: 10px;
  }
}

.public_summary_container{
  text-align: center; 
  margin-bottom: 10px;
  .yes_votes, .no_votes{
    display: inline-block; 
    width: 15%; 
    text-align: right;
    i{
      padding-left: 3px;
    }
  }
  .no_votes{
    text-align: left;
    i{
      padding-right: 3px;
    }
  }
  .progress{
    width: 67%; 
    display: inline-block; 
    height: 10px; 
    margin-bottom: 0;
    margin-left: 1.5%; 
    margin-right: 1.5%;
    .bar-success{
      background-color: #a8d2b8;
      background-image: linear-gradient(to bottom, #a8d2b8, #a8d2b8);
    }
    .bar-danger{
      background-color: #e1919f;
      background-image: linear-gradient(to bottom, #e1919f, #e1919f);
    }
  }
}


