
#map { 
  height: 300px; 
}  

.carousel-caption .carousel-caption-photo-info{
  color: #fff;
  li{
    display: inline-block;
    margin-right: 10px;
    &:last-of-type{
      margin-right: 0;
    }
  }
}

form.place{

  h2{
    margin-top: 25px;
  }
  
  ul#venue_categories, ul.question_categories{
    li{
      display: inline-block;
      margin: 5px;
      border: 1px solid #555;
      a{
        display: block;
        padding: 5px;
        &:hover, &.active{
          background-color: #555;
          color: #fff;
        }
        
      }
    }
  }

  div#venue_category_lists .venue_category, #disabilities, #certification{
      &:focus {
        outline: none;
      }
      ul li{
      margin-left: 15px;
      padding: 5px;
      &:nth-child(even) {background: #ddd}
      &:nth-child(odd) {background: #FFF}
      a{
        display: block;
      }
    }
  }
  

  
  #submit-button{
    margin: 25px 0;
    input{
      border: none;
    }
    
  }
}

  a#place_map_next[aria-hidden="false"]{
    display: inline;
  }

  #place-form-address-search #address-search {
    p:nth-child(1){
      margin-bottom: 20px;
    }
    #address-search-1-match, #address-search-multiple-match, #address-search-fail{
      margin-top: 20px;
      &[aria-hidden="false"]{
        display: block;
      }
      label, input[type="radio"]{
        display: inline;
      }
    }
  }
  


.form-horizontal #venue_evalautions {
  .control-group{
    margin-bottom: 0;
  }
  .controls {
    margin-left: 0;
  }
}
#venue_evalautions{
  h2{
    margin: 20px 0;
    span{
      display: inline-block;
      float: right;
      font-size: 13px;
      font-weight: normal;
    }
  }
  h3{
    margin-top: 10px;
    border-bottom: solid 2px #555;
    .user_name{
      float: right;
      display: inline-block;
      img{
        vertical-align: middle;
      }
    }
    .evaluation_date{
      float: left;
      display: inline-block;
      vertical-align: middle;
    }
  }
  h4{
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;    
  }
  h5{
    margin-top: 10px;
    font-style: italic;
    border-bottom: solid 1px #555;
  }
  .top > div:last-of-type{
    text-align: right;
  }

  table.venue_evaluation {
    thead tr th:nth-child(1){
      width: 35%;
    }
    tr td{
      label, input[type="radio"]{
        display: inline;
      }
    }
    tr.question-with-evidence td {
      .radio .choices{
        margin-left: 0;
      }
      input.question-evidence{
        display: none;
      }
    }
  }
  div.question_category{
    &:focus {
      outline: none;
    }
    div.venue_evaluation {
      & > .row-fluid {
        padding: 5px 0 5px 5px;
        &:nth-child(even) {background: #ddd}
        &:nth-child(odd) {background: #FFF}
        [class*="span"]{
          min-height: 25px;
        }
      }
      .question-evidence{
        margin-top: 5px;
      }
      label, input[type="radio"]{
        display: inline;
      }
      input[type=radio] {
          display:none; 
          margin:10px;
      }      
      input[type=radio] + label {
          display:inline-block;
          margin:-2px;
          padding: 4px 12px;
          background-color: #e7e7e7;
          border-color: #ddd;
          cursor: pointer;
          &.yes, &.has_good, &.has{
            background-color: #a8d2b8;
          }
          &.has_bad{
            background-color: #eedea0;
          }
          &.no, &.needs{
            background-color: #e1919f;
          }
          &.not_relevant{
            background-color: #555;
            color: #fff;
          }
      }
      input[type=radio]:checked + label { 
         background-image: none;
          background-color:#3287CC;
          color: #fff;
      }
    }
  }
  ul.question-results li {
    border-bottom: solid 1px #ccc;
    /*padding: 10px 0;*/
    & > div{
      vertical-align: top;
      padding: 10px;
      display: inline-block;
      width: 25%;
      &.cause_not_accessible{
        width: 40%;
        background-color: #fff;
        color: #f00;
      }
    }
    &:last-of-type{
      border-bottom: none;
    }
  }
  div.selected-answer{
    background-color: #ccc;
    color: #000;
    &.has_good, &.has{
      background-color: #a8d2b8;
    }
    &.has_bad{
      background-color: #eedea0;
    }
    &.needs{
      background-color: #e1919f;
    }
    &.not_relevant{
      background-color: #555;
      color: #fff;
    }
  }

  ul.evaluation_summary li{
    display: inline-block;
    width: 24%;
  }
}  
.summary_result_number{
  display: inline-text;
  padding: 2px 5px;
  &.good{
    background-color: #a8d2b8;
  }
  &.middle{
    background-color: #eedea0;
  }
  &.bad{
    background-color: #e1919f;
    color: #fff;
  }
}
.summary_result_text{
  display: inline-text;
  padding: 2px 5px;
  &.not_accessible{
    background-color: #e1919f;
  }
  &.no_answer{
    background-color: #ccc;
    color: #000;
  }
  &.not_relevant{
    background-color: #555;
    color: #fff;
  }
}


.fileupload-buttonbar .btn, table.table tbody.files tr td .btn{
  padding: 6px 12px;
}
.fileupload-buttonbar span.btn{
  font-size: 13px;
}
