table.overall_stats{
  th{
    text-align: center;
  }
  td{
    text-align: center;
  }
  tr.accessible{
    background-color: #a8d2b8;
  }
  tr.partial_accessible{
    background-color: #eedea0;
  }
  tr.not_accessible{
    background-color: #e1919f;
  }
  tr.total td{
    border-top: solid 2px #000;
  }
}
