
#front-page{
  #text-links{
    margin-top: 10px;
    li{
      display: inline-block;
      width: 45%;
      text-align: center;
    }
  }
  #stats{
    li:first-of-type {
      margin-bottom: 20px;
    }
  }
}
