
#front-page{
  div#front-page-container{
    position: relative; 
    height: 500px;
    & > div:nth-child(1){
      position: absolute;
      left: 50px;
      top: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50px,-50%);
      right: auto;
    }
    & > div:nth-child(2){
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50px,-50%);
      left: auto;
      & > p:nth-child(1), & > p:nth-child(2){
        margin-bottom: 20px;
      }
    }
  }

  .text-center{
    text-align: center;
  }

  h2{
    line-height: 1.1;
  }

  #text-links{
    margin-top: 10px;
    li{
      text-align: center;
      vertical-align: top;
      margin: 7px 0;
      display: inline-block;
      width: 48%;
      a{
        font-size: 16px;
        line-height: 23px;        
        padding: 5px 10px !important;
        &:lang(ka){
          height: 46px;
        }
      }
      &:lang(ka):nth-child{
        a {

        }
      }
    }
  }
  #stats{
    margin-top: 40px;
  }
  
  #eval-place{
    margin-top: 20px;
    .add_evaluation{
      font-size: 25px;
      line-height: 31px;
    }
  }
  #find-eval{
    margin-top: 20px;
    label{
      font-weight: bold;
    }
  }  
}

@media (max-width: 1330px) {
  #front-page{
    #text-links{
      li{
        display: block;
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  #front-page{
    div#front-page-container{
      position: relative; 
      height: auto !important;
      & > div:nth-child(1){
        position: inherit;
        left: inherit;
        top: inherit;
        transform: inherit;
        -webkit-transform: inherit;
        right: inherit;
        &.offset1{
          margin-left: 0;
        }
      }
      & > div:nth-child(2){
        margin-top: 40px;
        position: inherit;
        right: inherit;
        top: inherit;
        transform: inherit;
        -webkit-transform: inherit;
        left: inherit;
        & > p:nth-child(1), & > p:nth-child(2){
          margin-bottom: 20px;
        }
      }
      #text-links{
        li{
          display: inline-block;
          width: 48%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #front-page{
    #text-links{
      li{
        display: block !important;
        width: 100% !important;
      }
    }
  }
}

