form.training_video{
  .video-embed-messages {
    margin-top: -17px;
    margin-left: 10px;
    .video-embed-success{
      display: inline-block;   
    }
    .video-embed-fail{
      display: inline-block;   
      margin-bottom: 0;
      padding: 3px 9px;
    }
  }
}

.training-video-item{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
  &:last-of-type{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .training-video-image{
    float: left;
    width: 450px;
    margin-right: 10px;
  }
  .training-video-text{
    .training-video-watch{
      text-align: right;
    }
  }
}