/* training video form */
form.training_video{
  .video-embed-messages {
    margin-top: -17px;
    margin-left: 10px;
    .video-embed-success{
      display: inline-block;   
    }
    .video-embed-fail{
      display: inline-block;   
      margin-bottom: 0;
      padding: 3px 9px;
    }
  }
}

/* show training videos */
.training-video-item{
  border: solid 1px #ddd;
  .training-video-image{
    text-align: center;
    position: relative;
    .training-video-watched{
      background-color: rgba(200, 52, 50, 0.7);
      color: #fff;
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      padding: 3px 0;
    }
  }
  .training-video-text{
    padding: 5px;
    h3{
      text-align: center;
    }
    .training-video-watch{
      text-align: center;
    }
  }
}

/* watch video */
#training-video-survey{
  .survey-image{
    margin-top: 20px;
    margin-left: 20px;
  }
  .survey-question {
    margin-top: 20px;
    margin-left: 20px;
  }
  .survey-answers {
    margin-left: 20px;
    li{
      display: inline-block;
      margin-right: 10px;
      input{
        margin: 0;
      }
    }
  }
  .survey-btn{
    margin-top: 20px;
  }
  #results #watch-more{
    margin-top: 20px;
  }
}

/* styling for videos on what is accessibility page */
.what-accessibility-video{
  h3{
    text-align: center;
    margin-bottom: 5px;
  }
}