        <p>
          <%= t('.evaluation_instructions') %>
        </p>

        <% 
          @question_index = -1
        %>
        <%= f.fields_for :place_evaluations, @place_evaluation do |evaluation| %>
          <%= evaluation.hidden_field :user_id , :value => @place_evaluation.user_id %>

          <% @question_categories.each do |cat| %>

            <%= render :partial => 'eval_form_questions', :locals => {:evaluation => evaluation, :cat => cat, :is_sub_category => false} %>

          <% end %>
        <% end %>

