<% 
  title t('.title')
  title_sec_row  @help_text.first.question 
%>

<% @help_text.each do |help| %>
  <h2><%= help.disability_name %></h2>

  <%= simple_format_no_tags(help.content, {}, {sanitize: false}) %>  
  
<% end %>